@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

main {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.Calc {
    max-width: 60vw;
    width: 60vw;
    height: 80vw;
    background: #545150;
    color: white;
    display: grid;
    grid-template-areas: 
    "result result result result"
    "reset opposite percentages divide"
    "seven eight nine multiply"
    "four five six substraction"
    "one two three addition"
    "zero zero comma isequal"
    ;
}

.Calc__result {
    grid-area: result;
}
.Calc__0 {
    grid-area: zero;
}