@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

main {
    width: 100vw;
    height: 100vh;
}