@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.Calc {
    max-width: 60vw;
    width: 55vw;
    height: 80vw;
    background: #545150;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
    "result result result result"
    "result result result result"
    "reset opposite percentages divide"
    "seven eight nine multiply"
    "four five six substraction"
    "one two three addition"
    "zero zero comma isequal"
    ;
    grid-gap: 1px;
    font-size: 4vw;
}
.Calc div {
    display: grid;
    place-items: center;
    background: #7b7b7c;
}
.Calc__result {
    grid-area: result;
    background: #545150 !important;
}
.Calc__reset {
    background: #666464;
    
}


.Calc__0 {
    grid-area: zero;
}